{{ template "base" . }}
{{ define "title" }}{{ .musicVenueLabel }}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col">
        <h1>{{ .musicVenueLabel }}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <dl class="row">
        <dt class="col-sm-3">Opened</dt>
        <dd class="col-sm-9">{{ .inceptionYear }}</dd>
        <dt class="col-sm-3">Closed</dt>
        <dd class="col-sm-9">{{ .dissolutionYear }}</dd>
        <dt class="col-sm-3">Street address</dt>
        <dd class="col-sm-9">{{ .streetAddress }}</dd>
        <dt class="col-sm-3">Official website</dt>
        <dd class="col-sm-9"><a href='{{ .officialWebsite}}' target="_blank">{{ .officialWebsite }}</a></dd>
        <dt class="col-sm-3">Setlist.fm ID</dt>
        <dd class="col-sm-9"><a href='https://www.setlist.fm/venue/wd-{{ .setlistID }}.html' target="_blank">{{ .setlistID }}</a></dd>
        <dt class="col-sm-3">Songkick ID</dt>
        <dd class="col-sm-9"><a href='https://www.songkick.com/venues/{{ .songkickID }}' target="_blank">{{ .songkickID }}</a></dd>
    </dl> 
    <p>Read more on <a href="http://www.wikidata.org/entity/{{ .qid }}">Wikidata</a></p>   
    </div>
    {{ if .articleName.String }}
    <div class="col">
        <div class="card text-white bg-info">
            <h5 class="card-header">From Wikipedia</h5>
            {{ if .img }}
            <img class="card-img-top" src="{{ .img }}" alt="{{ .musicVenueLabel }}">
            {{ end }}
            <div class="card-body">
                {{ $wp_intro := query "wp-intro.rq" .articleName.String }}
                <p id="venue-wikipedia">{{ range $wp_intro }}{{ .extract }}{{ end }}</p>
                <a id="venue-wikipedia-link" href="{{ .article }}" class="card-link">Read more on Wikipedia</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>


<div class="row">
    <div class="col-6 mx-auto">
        <a role="button" class="btn btn-primary" href='./venues.html'>Venue Index</a>
    </div>
</div>
{{ end }}